<h2>Olá <strong>{{ student }}</strong>!</h2>
<h3>A GymPoint respondeu à sua solicitação.</h3>

<p>Segue abaixo os dados de sua solicitação:<br/>
  <ul style="list-style: none;">
    <li>Aluno: <strong>{{ student }}</strong></li>
    <li>Pergunta: <strong>{{ question }}</strong></li>
    <li>Resposta: <strong>{{ answer }}</strong></li>
    <li>Respndido em: <strong>{{ answer_at }}</strong></li>
  </ul>
</p>
<p>Pergunta respondida pelo nosso instrutor através do sistema.</p>
<p>Lembrando: Você deverá fazer check-in toda vez que chegar na academia.</p>