<h2>Olá <strong>{{ student }}</strong>!</h2>
<h3>Bem-Vindo à GymPoint</h3>
<p>É um prazer tê-lo como nosso mais novo aluno.</p>
<p>Detalhes de seu plano:
  <ul style="list-style: none;">
    <li>Tipo: <strong>{{ title }}</strong></li>
    <li>Início: <strong>{{ date_start }}</strong></li>
    <li>Válido Até <strong>{{ date_end }}</strong></li>
    <li>Valor Mensal: <strong>R${{ price }},00</strong></li>
    <li>Valor Total: <strong>R${{ total_price }},00</strong></li>
  </ul>
</p>
<p>Você deverá fazer check-in toda vez que chegar na academia.</p>
<p>Também terá acesso ao sistema para solicitar ajuda. Maiores detalhes serão enviados.</p>